:root {
  --color-header: #1f2937;
  --color--accent: #3882f6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Navbar */

header {
  background-color: var(--color-header);
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul a {
  text-decoration: none;
}

.navbar__left a {
  color: #ffffff;
  font-size: 1.5rem;
}

.navbar__right {
  display: flex;
  text-align: center;
}

.navbar__right a {
  color: #e5e7eb;
  font-size: 1.125rem;
  padding-left: 1rem;
}
